In [1]:
import numpy as np
import pandas as pd
from funcs import entropy

In [2]:
from sklearn.datasets import load_iris

In [8]:
class MyClass:
    def __init__():
        self.a = 0
    @classmethod
    def getmyclass(cls):
        return cls

In [14]:
a = MyClass.getmyclass()
a.a

AttributeError: type object 'MyClass' has no attribute 'a'

In [12]:
a()

TypeError: __init__() takes 0 positional arguments but 1 was given

In [3]:
iris = load_iris()

In [4]:
dir(iris)

['DESCR',
 'data',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [6]:
a = 0
assert(a==1)

AssertionError:

In [6]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [32]:
df = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                 columns= iris['feature_names'] + ['target'])

df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)
df = df.drop(['target'], axis=1)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [33]:
train = df.sample(n=int(df.shape[0]*0.7))
test = df.sample(n=int(df.shape[0]*0.3))

In [34]:
tree = DecisionTree(train, max_depth = 5)
res = tree.build_tree()

ans = tree.predict(test)

In [35]:
for node in res:
    if node['edges'] == None or node['edges'] == False:
        print(entropy(node['df']['species']))

0.0
0.0
0.0
0.0
0.0
0.9709505944546686
0.0
0.0

In [36]:
np.mean(ans == test['species'])

0.9555555555555556